main {
    width: 100%;
    min-width: 36rem;
    padding-bottom: 5rem;
    padding-top: 8rem;
    border-bottom: 1rem solid gray;
    background-image: url('../../../../Assets/bienesraices__fondo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .main__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        // max-width: 130rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;


        .main__info--information {

            width: 60%;
            // max-width: 70rem;
            margin: 0 auto;
            font-family: 'Montserrat';
            padding-bottom: 4rem;

            h1 {
                width: 100%;
                margin: 0 auto;
                font-size: 3.5rem;
                font-weight: 700;
                color: rgb(193, 137, 52);
                text-align: center;
                text-decoration: underline 0.4rem ;
            }

            h5 {
                width: 100%;
                margin: 0 auto;
                font-size: 1.5rem;
                font-weight: 700;
                color: black;
                text-align: center;
                margin-top: 3rem;
            }

            p {
                width: 100%;
                margin: 0 auto;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 3.5rem;
                color: black;
                margin-top: 3rem;
                text-align: justify;
            }

        }

        .main__info--photo {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            margin-top: 5rem;

            img {
                width: 100%;
                max-width: 70rem;
            }
        }


    }


}

