.main__admin {
    width: 100%;
    min-width: 36rem;
    height: 50rem;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;

    h1 {
        text-align: center;
        width: 70%;
        font-size: 1.5rem;
        margin: 0 auto;
        padding-top: 3rem;
    }

    .main__module {
        display: flex;
        width: 100%;
        justify-content: center;


            ul {
                display: flex;
                height: 40rem ;
                flex-direction: column;
                width: 90%;
                justify-content: center;
                text-align: center;
                align-self: center;
                text-decoration: none;
                list-style: none;

                li {
                    display: flex;
                    width: 100%;
                    max-width: 50rem;
                    height: 20%;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    margin-bottom: 1rem;
                    padding: 10px;
                    border: 0.4rem solid black;
                    border-radius: 10rem;
                    background-color: white;


                    a {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        font-size: 2rem;
                        text-decoration: none;
                        color: black;
                        align-items: center;
                    }
                }

                li:hover {
                    background-color: black;
                    color: white;
                    border-radius: 10rem;
                    border: solid 0.2rem black;
                    cursor: pointer;

                    a {
                        color: white;
                        cursor: pointer;

                    }

                }
            }
        }

    }




//https://jamboard.google.com/d/1_WlYSFij1fWi-1m97mGo12SrzDNm18uf7rhgPD1O8vI/edit?usp=meet_whiteboard