* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-image: url("../../../../Assets/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header__propiedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 36rem;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7);
}
.header__propiedades div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 60rem;
  height: 10rem;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__propiedades div .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__propiedades div .header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__propiedades div .header__logo a img {
  width: 108px;
  height: 51px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}
.header__propiedades div .header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border-top: 0.3rem solid red;
  border-bottom: solid black 0.3rem;
}

main {
  width: 100%;
  min-width: 36rem;
  height: auto;
  text-align: center;
  font-family: "Montserrat";
  background-image: url("../../../../Assets/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main .main__menu--content {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
main .main__menu--content .main__menu {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  -webkit-transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
main .main__menu--content .main__menu i a img {
  width: 30px;
  height: 30px;
}
main .main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
main .main__content .main__nav {
  width: 20%;
  height: auto;
  margin: 0;
  position: relative;
  z-index: -100;
  -webkit-transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
main .main__content .main__nav nav {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
main .main__content .main__nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
main .main__content .main__nav nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 6rem;
  padding: 10px;
  margin: 0.2rem;
}
main .main__content .main__nav nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1.65rem;
  text-decoration: none;
  color: black;
}
main .main__content .main__nav nav ul li:hover {
  background-color: rgba(253, 151, 99, 0.4);
  color: black;
  cursor: pointer;
}
main .main__content .main__nav nav ul li:hover a {
  color: black;
  cursor: pointer;
}
main .main__content .main__nav nav ul .nav__logout:hover {
  background-color: red;
  border: none;
}
main .main__content .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 3.5rem;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 0, 0, 0.549);
  border-width: 0.2rem;
  border-style: groove;
  border-color: black;
  border-radius: 8rem;
}
main .main__content .error p {
  color: black;
  font-weight: 700;
}
main .main__content .main__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: auto;
  position: absolute;
  left: 10%;
  margin-right: 2rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main__content .main__formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0rem 0rem 0rem auto;
  margin-top: 5rem;
  border-radius: 2rem;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .main__content .main__formulario form label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main__content .main__formulario form label input {
  width: 50%;
  font-family: "Arial", sans-serif;
  outline: 0;
  background-color: rgba(253, 151, 99, 0.4);
  border: 0;
  border-radius: 1rem;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
}
main .main__content .main__formulario form label span {
  font-family: "Arial", sans-serif;
  width: 50%;
  text-align: center;
  font-size: 1.8rem;
}
main .main__content .main__formulario form label p {
  width: 50%;
  font-family: "Arial", sans-serif;
  outline: 0;
  background-color: rgba(253, 151, 99, 0.4);
  border: 0;
  border-radius: 1rem;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
}
main .main__content .main__formulario form label p img {
  width: 20rem;
}
main .main__content .main__formulario form .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main__content .main__formulario form .select select {
  width: 50%;
  font-family: "Arial", sans-serif;
  outline: 0;
  background-color: rgba(253, 151, 99, 0.4);
  border: 0;
  border-radius: 1rem;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
}
main .main__content .main__formulario form .select span {
  font-family: "Arial", sans-serif;
  width: 50%;
  text-align: center;
  font-size: 1.8rem;
}
main .main__content .main__formulario form .content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: transparent;
  height: auto;
  margin: 0;
}
main .main__content .main__formulario form .content__buttons .signup__submit {
  width: 40%;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  opacity: 0.7;
  border: 0;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 100;
}
main .main__content .main__formulario form .content__buttons .signup__submit:hover {
  cursor: pointer;
}

.menu__move {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: red;
  padding-right: 2rem;
}

.main__menu:hover {
  background-color: rgba(255, 0, 0, 0.275);
}