main {

    width: 100%;
    min-width: 36rem;
    text-align: center;
    margin: 0 auto;
    font-family: "Montserrat";
    background-image: url('../../../../../Assets/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    .main__menu--content {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);




        .main__menu {
            width: 20%;
            display: flex;
            // justify-content: flex-end;
            padding-left: 2rem;
            transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);





            i {

                a {
                    img {
                        width: 30px;
                        height: 30px;
                    }


                }
            }
        }
    }

    .main__content {

        display: flex;

        .main__nav {
            width: 20%;
            height: auto;
            margin: 0;
            position: relative;
            z-index: -100;
            transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
            background-color: white;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
                0 2px 4px rgba(0, 0, 0, 0.07),
                0 4px 8px rgba(0, 0, 0, 0.07),
                0 8px 16px rgba(0, 0, 0, 0.07),
                0 16px 32px rgba(0, 0, 0, 0.07),
                0 32px 64px rgba(0, 0, 0, 0.07);



            nav {
                width: 100%;
                margin: 0 auto;
                margin-bottom: 1rem;

                ul {
                    display: flex;
                    width: 100%;
                    margin: 0 auto;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 6rem;
                        padding: 10px;
                        margin: 0.2rem;


                        a {
                            display: block;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-size: 1.65rem;
                            // font-weight: 700;
                            text-decoration: none;
                            color: black;
                        }
                    }

                    li:hover {
                        background-color: rgba(253, 151, 99, 0.4);
                        color: black;
                        cursor: pointer;

                        a {

                            color: black;
                            cursor: pointer;

                        }

                    }

                    .nav__logout:hover {
                        background-color: red;
                        border: none;
                    }
                }
            }
        }

        .main__table {
            width: 80%;
            margin: 0 auto;
            position: absolute;
            left: 10%;
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 2rem;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
                0 2px 4px rgba(0, 0, 0, 0.07),
                0 4px 8px rgba(0, 0, 0, 0.07),
                0 8px 16px rgba(0, 0, 0, 0.07),
                0 16px 32px rgba(0, 0, 0, 0.07),
                0 32px 64px rgba(0, 0, 0, 0.07);
            margin-top: 2rem;






            .table__title {
                // display: flex;
                width: 100%;
                margin: 0 auto;


                .table__buttons {

                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    margin-bottom: 1rem;

                    .button__volver {
                        display: flex;
                        width: 7rem;
                        height: 4rem;
                        background-color: rgb(255, 0, 0);
                        border-radius: 1rem;
                        opacity: 0.7;
                        text-align: center;

                        .volver {
                            display: flex;
                            width: 7rem;
                            height: 4rem;
                            margin: 0 auto;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.2rem;
                            text-decoration: none;
                            font-family: "Montserrat";
                            font-weight: 700;
                            color: white;
                        }

                    }

                    .button__new {
                        display: flex;
                        width: 9rem;
                        height: 4rem;
                        background-color: #4CAF50;
                        opacity: 0.7;
                        border-radius: 1rem;
                        text-align: center;

                        .new {
                            display: flex;
                            width: 9rem;
                            height: 4rem;
                            margin: 0 auto;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.2rem;
                            text-decoration: none;
                            font-family: "Montserrat";
                            font-weight: 700;
                            color: white;
                            
                        }

                    }

                }


                .table__search {

                    display: flex;
                    font-weight: 700;
                    align-items: flex-end;
                    // background-color: rgb(4, 0, 255);
                    margin-top: 1rem;
                    margin-bottom: 1rem;


                    .search__title {

                        display: flex;
                        width: 12.5%;
                        height: 4rem;
                        background-color: rgb(4, 0, 255);
                        border-radius: 10rem;
                        text-align: center;

                        p {
                            display: flex;
                            width: 12.5%;
                            height: 4rem;
                            margin: 0 auto;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.4rem;
                            text-decoration: none;
                            font-family: "Montserrat";
                            font-weight: 700;
                            color: white;
                        }


                        input {
                            display: flex;
                            width: 100%;
                            height: 4rem;
                            margin: 0 auto;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.4rem;
                            text-decoration: none;
                            font-family: "Montserrat";
                            font-weight: 700;
                            background-color: rgb(4, 0, 255);
                            border-radius: 10rem;
                            border-style: none;
                            color: white;
                        }

                    }


                    .search__element {
                        width: 12.5%;
                        height: auto;

                        span {
                            display: block;
                            width: 100%;
                            margin-bottom: 0.3rem;
                            font-size: 1.2rem;
                            // padding-bottom: 0.2rem;
                        }

                        select {
                            width: 100%;
                            height: 3.5rem;
                            text-align: center;
                            // align-self: center;
                            // margin: 0.5rem;
                            background-color: white;
                            border-radius: 10rem;
                            font-size: 1rem;
                            font-family: 'Montserrat';
                            font-weight: 500;
                            border-style: solid;
                            border-color: black;
                            border-width: 0.1rem;
                            cursor: pointer;


                            option {

                                font-size: 2.5rem;

                            }




                        }

                    }

                }

                table {
                    // min-width: 36rem;
                    width: 100%;
                    margin: 0 auto;
                    border-spacing: 0;



                    tr {

                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        text-align: center;


                        td {


                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 12.5%;
                            // text-align: center;
                            font-size: 1.5rem;
                            font-family: 'Montserrat';
                            font-weight: 700;
                            border: ridge;
                        }



                    }

                    tr {

                        color: black;
                    }
                }

            }

            .table__content {

                width: 100%;
                margin: 0 auto;
                


                table {
                    // min-width: 36rem;
                    width: 100%;
                    margin: 0 auto;


                    tr {

                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        text-align: center;
                        




                        td {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 12.5%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 1rem;
                            font-family: 'Montserrat';
                            font-weight: 700;
                            border: ridge;

                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                height: 100%;

                                img {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 30px;
                                }
                            }

                            // input {
                            //     width: 100px;
                            //     height: 5px;
                            // }



                            .table__editar:hover {
                                background-color: white;
                            }

                            .input-borrar {
                                width: 40px;
                                height: 40px;
                                color: transparent;
                                border: 0px;
                                background-color: transparent;
                                background-image: url('../../../../../Assets/borrar.png');
                                background-size: contain;
                                background-repeat: no-repeat;
                                cursor: pointer;

                            }

                            .input-activar {
                                width: 40px;
                                height: 20px;
                                color: transparent;
                                border: 0px;
                                background-color: transparent;
                                background-image: url('../../../../../Assets/activo.png');
                                background-size: contain;
                                background-repeat: no-repeat;
                                cursor: pointer;

                            }

                            .input-desactivar {
                                width: 40px;
                                height: 20px;
                                color: transparent;
                                border: 0px;
                                background-color: transparent;
                                background-image: url('../../../../../Assets/inactivo.png');
                                background-size: contain;
                                background-repeat: no-repeat;
                                cursor: pointer;

                            }
                        }



                    }

                    tr:hover {
                        color: red;
                        padding: 0.3rem;
                        cursor: pointer;
                    }
                }

            }


        }
    }
}

.menu__move {
    justify-content: flex-end;
    background-color: rgb(255, 0, 0);
    padding-right: 2rem;

}

.main__menu:hover {
    background-color: rgba(255, 0, 0, 0.275);
}