main {
    width: 100%;
    min-width: 36rem;
    padding-bottom: 5rem;
    border-bottom: 1rem solid gray;
    background-color: white;
    font-family: 'Montserrat';

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #000000;
        text-decoration: none;
    }


    .main__vender {

        width: 100%;
        height: 50vh;
        text-align: center;
        font-family: 'Montserrat';
        background-image: url('../../../../Assets/rentacdmx.webp');
        background-size: cover;
        background-repeat: no-repeat;

        h1 {
            font-size: 5rem;
            font-weight: 400;
            padding-top: 15rem;
            color: rgb(90, 69, 38);
        }

        p {
            padding-top: 6rem;
            font-size: 2.5rem;
            color: rgb(193, 137, 52);
        }
    }

    .main__inmuebles {
        width: 80%;
        margin: 0 auto;
        margin-top: 3rem ;

        .main__cardMunicipio {
            margin-top: 3rem;
            margin-bottom: 3rem;

            h1 {
                font-size: 3rem;
                font-weight: 100;
                color: rgb(179, 138, 76);
            }

            .cardMunicipio__cardInmueble {
                display: flex;
                flex-direction: column;
                align-items: center;

                border-top: 1rem solid rgb(179, 138, 76);
                border-bottom: 1rem solid rgb(179, 138, 76);

                .cardImg {
                    width: 100%;
                    height: auto;
                    img {
                        //width: 22.1rem;
                        width: 100%;
                        height: auto;
                        // height: 15.4rem;
                    }
                }

                .cardInfo {
                    width: 100%;
                    margin-left: 3rem;

                    h2 {
                        font-size: 1.5rem;
                        margin-bottom: 1.5rem;
                    }

                    p {
                        margin-top: 0.3rem;
                        font-size: 1.4rem;
                    }

                }
            }


        }

        .cardMunicipio__cardInmueble {
            display: flex;
            flex-direction: row;
            align-items: center;

            border-top: 1rem solid rgb(179, 138, 76);
            border-bottom: 1rem solid rgb(179, 138, 76);

            .cardImg {
                img {
                    width: 22.1rem;
                    height: 15.4rem;
                }
            }

            .cardInfo {
                width: 100%;
                margin-left: 3rem;

                h2 {
                    font-size: 2rem;
                    margin-bottom: 3rem;
                }

                p {
                    font-size: 1.8rem;
                }

            }
        }

    }
}