.header__content {
    width: 100%;

    .header__up {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        height: 25rem;
        margin: 0 auto;
        border-bottom: 0.1rem solid black;

        .header__up--logo {
            width: 33%;

            img {
                width: 30rem;
            }
        }

        .header__up--slogan {
            width: 33%;
            text-align: center;

            p {
                font-family: 'Montserrat';
                font-size: 2.2rem;
            }
        }

        .header__up--buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33%;
            font-family: 'Montserrat';
            font-size: 2rem;


            .buttons__contacto {

                a {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 12rem;
                    text-decoration: none;
                    padding: 1rem;
                    background-color:rgb(179, 138, 76);
                    color: white;
                    font-weight: 400;

                }
                a:hover {

                    background-color:rgb(234, 171, 76);
                }
            }

            .buttons__login {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-evenly;
                margin-top: 2rem;
                


                a {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 15rem;
                    text-decoration: none;
                    padding: 1rem;
                    color: black;
                    border: 0.2rem solid black;
                    font-weight: 400;
                }

                a:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    .header__down {
        width: 100%;
        margin: 0 auto;

        padding-bottom: 1.5rem;
        border-bottom: 0.6rem solid gray;


        nav {



            ul {

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 70%;
                height: 5rem;
                margin: 0 auto;
                background-color: rgb(238, 232, 216);
                margin-top: 2rem;
                border-radius: 5rem;



                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 14.28%;
                    height: 100%;
                    list-style: none;
                    text-align: center;
                    
                    a {
                        text-decoration: none;
                        font-family: 'Montserrat';
                        font-size: 1.3rem;
                        color: black;
                    }
                }

                li:hover {
                    background-color: rgb(225, 195, 113);
                    border-radius: 5rem 0 5rem 5rem;
                }

                .nav__left:hover {
                    background-color: rgb(225, 195, 113);
                    border-radius: 5rem 0 5rem 5rem;
                }
            }
        }
    }
}