main {
    width: 100%;
    min-width: 36rem;
    // margin: 0 auto;
    height: auto;
    text-align: center;
    font-family: 'Montserrat';
    background-image: url('../../../../../Assets/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;



    .main__menu--content {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);




        .main__menu {
            width: 20%;
            display: flex;
            // justify-content: flex-end;
            padding-left: 2rem;
            transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);





            i {

                a {
                    img {
                        width: 30px;
                        height: 30px;
                    }


                }
            }
        }
    }

    .main__content {

        display: flex;
        width: 100%;


        .main__nav {
            width: 20%;
            height: auto;
            margin: 0;
            position: relative;
            z-index: -100;
            transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);




            nav {
                width: 100%;
                margin: 0 auto;
                margin-bottom: 1rem;
                background-color: rgba(255, 255, 255, 0.7);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
                    0 2px 4px rgba(0, 0, 0, 0.07),
                    0 4px 8px rgba(0, 0, 0, 0.07),
                    0 8px 16px rgba(0, 0, 0, 0.07),
                    0 16px 32px rgba(0, 0, 0, 0.07),
                    0 32px 64px rgba(0, 0, 0, 0.07);



                ul {
                    display: flex;
                    width: 100%;
                    margin: 0 auto;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 6rem;
                        padding: 10px;
                        margin: 0.2rem;


                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-size: 1.65rem;
                            // font-weight: 700;
                            text-decoration: none;
                            color: black;
                        }
                    }

                    li:hover {
                        background-color: rgba(253, 151, 99, 0.4);
                        color: black;
                        cursor: pointer;

                        a {

                            color: black;
                            cursor: pointer;

                        }

                    }

                    .nav__logout:hover {
                        background-color: red;
                        border: none;
                    }
                }
            }
        }

        .error {
            display: flex;
            width: 20rem;
            height: 3.5rem;
            padding: 1rem;
            margin: 0 auto;
            margin-bottom: 2rem;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 0, 0, 0.549);
            border-width: 0.2rem;
            border-style: groove;
            border-color: black;
            border-radius: 8rem;

            p {
                color: black;
                font-weight: 700;
            }
        }



        .main__formulario {
            display: flex;
            width: 80%;
            height: auto;
            position: absolute;
            left: 10%;
            margin-right: 2rem;
            text-align: center;
            align-items: center;


            form {
                display: flex;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.7);
                margin: 0rem 0rem 0rem auto;
                margin-top: 5rem;
                border-radius: 2rem;
                padding: 2rem;

                flex-direction: column;


                .normal {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    input {
                        width: 50%;
                        font-family: "Arial", sans-serif;
                        outline: 0;
                        background-color: rgba(253, 151, 99, 0.4);
                        border: 0;
                        border-radius: 1rem;
                        margin: 0 0 1.5rem;
                        padding: 1.5rem;
                        box-sizing: border-box;
                        font-size: 1.4rem;

                    }

                    span {
                        font-family: "Arial", sans-serif;
                        width: 50%;
                        text-align: center;
                        font-size: 1.8rem;

                    }

                    p {
                        width: 50%;
                        font-family: "Arial", sans-serif;
                        outline: 0;
                        background-color: rgba(253, 151, 99, 0.4);
                        border: 0;
                        border-radius: 1rem;
                        margin: 0 0 1.5rem;
                        padding: 1.5rem;
                        box-sizing: border-box;
                        font-size: 1.4rem;

                        img {
                            width: 20rem;

                        }
                    }


                }

                .input__download {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 2rem;

                    span {
                        font-family: "Arial", sans-serif;
                        width: 50%;
                        text-align: center;
                        font-size: 1.8rem;

                    }

                    section {

                        width: 50%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        input {
                            outline: 0;
                            border: none;
                            background-color: transparent;
                            text-align: center;
                            margin-top: 10px;
                        }

                        a {
                            width: 4rem;
                            height: 4rem;
                            padding: 2rem;
                            background-image: url('../../../../../Assets/download.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            cursor: pointer;
                        }


                        .download {
                            width: 4rem;
                            height: 4rem;
                            padding: 2rem;
                            background-image: url('../../../../../Assets/download.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            cursor: pointer;

                        }

                        .share {
                            width: 4rem;
                            height: 4rem;
                            padding: 2rem;
                            background-image: url('../../../../../Assets/share.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            cursor: pointer;

                        }

                        .print {
                            width: 4rem;
                            height: 4rem;
                            padding: 2rem;
                            background-image: url('../../../../../Assets/print.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            cursor: pointer;

                        }

                        .open {
                            width: 4rem;
                            height: 4rem;
                            padding: 2rem;
                            background-image: url('../../../../../Assets/ver.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            cursor: pointer;

                        }

                    }




                }




                .select {
                    display: flex;
                    align-items: center;


                    select {
                        width: 50%;
                        font-family: "Arial", sans-serif;
                        outline: 0;
                        background-color: rgba(253, 151, 99, 0.4);
                        border: 0;
                        border-radius: 1rem;
                        margin: 0 0 1.5rem;
                        padding: 1.5rem;
                        box-sizing: border-box;
                        font-size: 1.4rem;
                    }

                    span {
                        font-family: "Arial", sans-serif;
                        width: 50%;
                        text-align: center;
                        font-size: 1.8rem;

                    }
                }


                .content__buttons {
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                    background-color: transparent;

                    height: auto;
                    margin: 0;

                    .signup__submit {
                        width: 40%;
                        font-family: "Arial", sans-serif;
                        text-transform: uppercase;
                        outline: 0;
                        background: #4CAF50;
                        opacity: 0.7;
                        border: 0;
                        border-radius: 10px;
                        text-align: center;
                        padding: 15px;
                        margin-top: 10px;
                        color: #FFFFFF;
                        font-size: 14px;
                        cursor: pointer;
                        text-decoration: none;
                        font-weight: 100;

                    }

                    .signup__submit:hover {

                        cursor: pointer;
                    }
                }
            }
        }
    }
}



.input-borrar {
    width: 4rem;
    height: 4rem;
    color: transparent;
    border: 0px;
    background-color: transparent;
    background-image: url('../../../../../Assets/borrar.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

.input-borrar:hover {
    width: 50px;
    height: 50px;
    color: transparent;
    border: 0px;
    background-color: transparent;
    background-image: url('../../../../../Assets/borrar-open.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.menu__move {
    justify-content: flex-end;
    background-color: rgb(255, 0, 0);
    padding-right: 2rem;

}

.main__menu:hover {
    background-color: rgba(255, 0, 0, 0.275);
}