* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header__content {
  width: 100%;
}
.header__content .header__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 25rem;
  margin: 0 auto;
  border-bottom: 0.1rem solid black;
}
.header__content .header__up .header__up--logo {
  width: 33%;
}
.header__content .header__up .header__up--logo img {
  width: 30rem;
}
.header__content .header__up .header__up--slogan {
  width: 33%;
  text-align: center;
}
.header__content .header__up .header__up--slogan p {
  font-family: "Montserrat";
  font-size: 2.2rem;
}
.header__content .header__up .header__up--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  font-family: "Montserrat";
  font-size: 2rem;
}
.header__content .header__up .header__up--buttons .buttons__contacto a {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 12rem;
  text-decoration: none;
  padding: 1rem;
  background-color: rgb(179, 138, 76);
  color: white;
  font-weight: 400;
}
.header__content .header__up .header__up--buttons .buttons__contacto a:hover {
  background-color: rgb(234, 171, 76);
}
.header__content .header__up .header__up--buttons .buttons__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
}
.header__content .header__up .header__up--buttons .buttons__login a {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 15rem;
  text-decoration: none;
  padding: 1rem;
  color: black;
  border: 0.2rem solid black;
  font-weight: 400;
}
.header__content .header__up .header__up--buttons .buttons__login a:hover {
  background-color: black;
  color: white;
}
.header__content .header__down {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  border-bottom: 0.6rem solid gray;
}
.header__content .header__down nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 5rem;
  margin: 0 auto;
  background-color: rgb(238, 232, 216);
  margin-top: 2rem;
  border-radius: 5rem;
}
.header__content .header__down nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.28%;
  height: 100%;
  list-style: none;
  text-align: center;
}
.header__content .header__down nav ul li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1.3rem;
  color: black;
}
.header__content .header__down nav ul li:hover {
  background-color: rgb(225, 195, 113);
  border-radius: 5rem 0 5rem 5rem;
}
.header__content .header__down nav ul .nav__left:hover {
  background-color: rgb(225, 195, 113);
  border-radius: 5rem 0 5rem 5rem;
}

main {
  width: 100%;
  min-width: 36rem;
  margin-bottom: 5rem;
  -webkit-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
main .main__presentation {
  width: 100%;
  height: 80vh;
  text-align: center;
  font-family: "Montserrat";
  background-image: url("../../../../Assets/fondo-inicio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main .main__presentation h1 {
  font-size: 8rem;
  font-weight: 400;
  padding-top: 15rem;
  color: rgb(90, 69, 38);
}
main .main__presentation p {
  padding-top: 6rem;
  font-size: 3.5rem;
  color: rgb(193, 137, 52);
}
main .bienvenida {
  text-align: center;
  margin-top: 3rem;
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 400;
}
main .main__cityCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  max-width: 100rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 5rem;
}
main .main__cityCards .cityCard {
  width: 28rem;
  height: 35.2rem;
  margin-bottom: 10rem;
  text-align: center;
  font-family: "Montserrat";
}
main .main__cityCards .cityCard .cityImg img {
  width: 28rem;
  height: 35.2rem;
}
main .main__cityCards .cityCard .cityInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: auto;
  padding: 3rem;
  position: relative;
  bottom: 30%;
  margin: 0 auto;
  background-color: white;
  border: 0.2rem solid black;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
main .main__cityCards .cityCard .cityInfo p {
  font-size: 2.5rem;
  font-weight: 700;
}
main .main__cityCards .cityCard .cityInfo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 4rem;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: white;
  font-size: 2.5rem;
  font-weight: 100;
  text-decoration: none;
  color: black;
  border: 0.2rem solid black;
}
main .main__cityCards .cityCard .cityInfo a:hover {
  background-color: rgb(234, 171, 76);
  color: white;
  font-weight: 400;
}
main .main__cityCards .cityCard .cityInfo:hover {
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 1.32, 2.275);
  transition: all 200ms cubic-bezier(0.175, 0.885, 1.32, 2.275);
  bottom: 35%;
  background-color: black;
}
main .main__cityCards .cityCard .cityInfo:hover p {
  color: white;
}
main .main__cityCards .cityCard .cityInfo:hover a {
  border: white;
}
main .main__oficinas {
  width: 60%;
  margin: 0 auto;
}
main .main__oficinas section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main__oficinas section ul .main__oficinas--li {
  list-style: none;
  width: 50%;
  max-width: 50rem;
  min-width: 33rem;
  text-align: center;
  margin-top: 5rem;
}
main .main__oficinas section ul .main__oficinas--li .oficina__title {
  font-family: "Montserrat";
  color: red;
  font-size: 3rem;
  text-align: center;
}
main .main__oficinas section ul .main__oficinas--li .oficina__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
}
main .main__oficinas section ul .main__oficinas--li .oficina__content .mail {
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url("../../../../Assets/mail.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1rem;
}
main .main__oficinas section ul .main__oficinas--li .oficina__content .whatsapp {
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url("../../../../Assets/whatsapp.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1rem;
}
main .main__oficinas section ul .main__oficinas--li .oficina__content .telephone {
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url("../../../../Assets/telephone.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1rem;
}
main .main__oficinas section ul .main__oficinas--li .oficina__content p {
  margin-left: 1rem;
  font-size: 2rem;
}

footer {
  width: 100%;
  height: 50vh;
  background-color: rgb(238, 232, 216);
}
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
footer section p {
  font-family: "Montserrat";
  font-size: 3rem;
  color: black;
  margin-bottom: 4rem;
}
footer section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer section ul li {
  list-style: none;
}
footer section ul img {
  width: 7rem;
}