.main-container {
  margin-top: 15rem;


  .main-canvas {
    border: 5px solid rgb(255, 0, 0);
    background-color: #fff;
  }

  .container__btn {
    max-width: 70rem;
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;


    .btn__clear {
      width: 50%;
      background: #FF4742;
      border: 1px solid #FF4742;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
      font-size: 16px;
      font-weight: 800;
      line-height: 16px;
      min-height: 50px;
      outline: 0;
      padding: 12px 14px;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
    }
    .btn__clear:active {
      background-color: white;
      background-position: 0 0;
      color: #FF4742;
    }




    .btn__keep {
      width: 50%;
      background: #13aa52;
      border: 1px solid #13aa52;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
      font-size: 16px;
      font-weight: 800;
      line-height: 16px;
      min-height: 50px;
      outline: 0;
      padding: 12px 14px;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      text-decoration: none;
    }

    .btn__keep:active {
      background-color: white;
      background-position: 0 0;
      color: #13aa52;
    }
  }
}