* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: inherit;
}

html {
  font-size: 62.5%;
}

.main-container {
  margin-top: 15rem;
}
.main-container .main-canvas {
  border: 5px solid rgb(255, 0, 0);
  background-color: #fff;
}
.main-container .container__btn {
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
}
.main-container .container__btn .btn__clear {
  width: 50%;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 50px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
}
.main-container .container__btn .btn__clear:active {
  background-color: white;
  background-position: 0 0;
  color: #FF4742;
}
.main-container .container__btn .btn__keep {
  width: 50%;
  background: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 50px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  text-decoration: none;
}
.main-container .container__btn .btn__keep:active {
  background-color: white;
  background-position: 0 0;
  color: #13aa52;
}