main {
    width: 100%;
    min-width: 36rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    background-color: white;

    .main__acerca {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
        justify-content: space-evenly;

        
        .main__acerca--info {
            width: 90%;
            max-width: 70rem;
            min-width: 33rem;
            margin: 0 auto;
            font-family: 'Montserrat';
            background-color: rgb(247, 247, 247);
            
            h1 {
                width: 60%;
                margin: 0 auto;
                font-size: 2.5rem;
                font-weight: 400;
                color: rgb(193, 137, 52);
                text-align: center;
                margin-top: 3rem;
            }

            h5 {
                width: 60%;
                margin: 0 auto;
                font-size: 1.5rem;
                font-weight: 700;
                color: black;
                text-align: center;
                margin-top: 3rem;
            }

            p {
                width: 60%;
                margin: 0 auto;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 3rem;
                color: black;
                margin-top: 3rem;
            }
        }
        .main__acerca--photo {
            
            width: 90%;
            max-width: 65rem;
            min-width: 33rem;
            margin: 0 auto;
            text-align: center;
            
            img {
                width: 100%;
                height: 86rem;
            }
        }
    }

}