* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header__admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 20rem;
  min-width: 36rem;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 700;
}
.header__admin div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 60rem;
  height: 15rem;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__admin div .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__admin div .header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__admin div .header__logo a img {
  width: 108px;
  height: 51px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}
.header__admin div .header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 70px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 1rem;
}
.header__admin div .header__name .name__rol {
  padding-top: 0.5rem;
}
.header__admin div .header__name .button_close_session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  border-radius: 10rem;
}

.header__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border-top: 0.3rem solid red;
  border-bottom: solid black 0.3rem;
}

.main__admin {
  width: 100%;
  min-width: 36rem;
  height: 50rem;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.main__admin h1 {
  text-align: center;
  width: 70%;
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 3rem;
}
.main__admin .main__module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__admin .main__module ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  list-style: none;
}
.main__admin .main__module ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 50rem;
  height: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
  padding: 10px;
  border: 0.4rem solid black;
  border-radius: 10rem;
}
.main__admin .main__module ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__admin .main__module ul li:hover {
  background-color: black;
  color: white;
  border-radius: 10rem;
  border: solid 0.2rem black;
  cursor: pointer;
}
.main__admin .main__module ul li:hover a {
  color: white;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 30rem;
  background-color: black;
}