main {
    width: 100%;
    min-width: 36rem;
    
    margin-bottom: 5rem;
    margin-top: 5rem;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);

    .main__acerca {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        max-width: 130rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;


        
        .main__acerca--info {
            width: 50%;
            max-width: 70rem;
            margin: 0 auto;
            font-family: 'Montserrat';
            background-color: rgb(247, 247, 247);
            padding-bottom: 4rem;

            
            h1 {
                width: 100%;
                margin: 0 auto;
                font-size: 2.5rem;
                font-weight: 400;
                color: rgb(193, 137, 52);
                text-align: center;
                margin-top: 3rem;
            }

            h5 {
                width: 100%;
                margin: 0 auto;
                font-size: 1.5rem;
                font-weight: 700;
                color: black;
                text-align: center;
                margin-top: 3rem;
            }

            p {
                width: 80%;
                margin: 0 auto;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 3rem;
                color: black;
                margin-top: 3rem;
            }
        }
        .main__acerca--photo {
            
            width: 50%;
            margin: 0 auto;
            text-align: center;
            margin-top: 5rem;
            
            img {
                width: 100%;
            }
        }
    }

}