main {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: "Montserrat";
    background-image: url('../../../../../Assets/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    .main__menu--content {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);




        .main__menu {
            width: 20%;
            display: flex;
            // justify-content: flex-end;
            padding-left: 2rem;
            transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);





            i {

                a {
                    img {
                        width: 30px;
                        height: 30px;
                    }


                }
            }
        }
    }


    .main__content {

        display: flex;
        width: 100%;

        .main__nav {
            width: 20%;
            height: auto;
            margin: 0;
            position: relative;
            z-index: -100;
            transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);




            nav {
                width: 100%;
                margin: 0 auto;
                margin-bottom: 1rem;
                background-color: rgba(255, 255, 255, 0.7);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
                    0 2px 4px rgba(0, 0, 0, 0.07),
                    0 4px 8px rgba(0, 0, 0, 0.07),
                    0 8px 16px rgba(0, 0, 0, 0.07),
                    0 16px 32px rgba(0, 0, 0, 0.07),
                    0 32px 64px rgba(0, 0, 0, 0.07);

                ul {
                    display: flex;
                    width: 100%;
                    margin: 0 auto;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 6rem;
                        padding: 10px;
                        margin: 0.2rem;


                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Arial, sans-serif;
                            font-size: 1.65rem;
                            // font-weight: 700;
                            text-decoration: none;
                            color: black;
                        }
                    }

                    li:hover {
                        background-color: rgba(253, 151, 99, 0.4);
                        color: black;
                        cursor: pointer;

                        a {

                            color: black;
                            cursor: pointer;

                        }

                    }

                    .nav__logout:hover {
                        background-color: red;
                        border: none;
                    }
                }
            }
        }

        .error {
            display: flex;
            width: 20rem;
            height: 3.5rem;
            padding: 1rem;
            margin: 0 auto;
            margin-bottom: 2rem;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 0, 0, 0.549);
            border-width: 0.2rem;
            border-style: groove;
            border-color: black;
            border-radius: 8rem;

            p {
                color: black;
                font-weight: 700;
            }
        }

        .main__formulario {
            width: 100%;
            position: absolute;


            form {
                display: flex;
                width: 80%;
                height: auto;
                margin: 0 auto;
                text-align: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.7);
                margin-top: 5rem;
                border-radius: 2rem;
                padding: 2rem;

                flex-direction: column;


                label {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .input__text {
                        width: 50%;
                        font-family: "Arial", sans-serif;
                        outline: 0;
                        background-color: rgba(253, 151, 99, 0.4);
                        border: 0;
                        border-radius: 1rem;
                        margin: 0 0 1.5rem;
                        padding: 1.5rem;
                        box-sizing: border-box;
                        font-size: 1.4rem;

                    }

                    span {
                        font-family: "Arial", sans-serif;
                        width: 50%;
                        text-align: center;
                        font-size: 1.8rem;

                    }
                }

                .select {
                    display: flex;
                    width: 100%;
                    align-items: center;


                    select {
                        width: 50%;
                        font-family: "Arial", sans-serif;
                        outline: 0;
                        background-color: rgba(253, 151, 99, 0.4);
                        border: 0;
                        border-radius: 1rem;
                        margin: 0 0 1.5rem;
                        padding: 1.5rem;
                        box-sizing: border-box;
                        font-size: 1.4rem;
                    }

                    span {
                        font-family: "Arial", sans-serif;
                        width: 50%;
                        text-align: center;
                        font-size: 1.8rem;

                    }
                }

                .select__config {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    margin: 0 0 1.5rem;


                    select {
                        width: 40%;
                        font-family: "Arial", sans-serif;
                        outline: 0;
                        background-color: rgba(253, 151, 99, 0.4);
                        border: 0;
                        border-radius: 1rem;

                        padding: 1.5rem;
                        box-sizing: border-box;
                        font-size: 1.4rem;
                    }

                    span {
                        font-family: "Arial", sans-serif;
                        width: 50%;
                        text-align: center;
                        font-size: 1.8rem;

                    }

                    label {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        .input__text {
                            width: 40%;
                            font-family: "Arial", sans-serif;
                            outline: 0;
                            background-color: rgba(253, 151, 99, 0.4);
                            border: 0;
                            border-radius: 1rem;
                            margin: 0 0 1.5rem;
                            padding: 1.5rem;
                            box-sizing: border-box;
                            font-size: 1.4rem;

                        }

                        span {
                            font-family: "Arial", sans-serif;
                            width: 50%;
                            text-align: center;
                            font-size: 1.8rem;

                        }
                    }
                }

            }
        }
    }
}

.button__new {
    display: flex;
    width: 10%;
    height: 4rem;
    background-color: #4CAF50;
    opacity: 0.7;
    border-radius: 1rem;
    text-align: center;


    .new {
        display: flex;
        width: 100%;
        height: 4rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        text-decoration: none;
        background-color: #4CAF50;
        border-radius: 1rem;
        border:none;
        font-family: "Montserrat";
        font-weight: 700;
        color: white;
    }

}
.button__add {
    display: flex;
    width: 10%;
    height: 3rem;
    // background-color: #3e59f4;
    opacity: 0.7;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    cursor: pointer;

    .add {
        display: flex;
        width: 100%;
        height: 4rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        text-decoration: none;
        background-color: #3e59f4;
        border-radius: 1rem;
        border:none;
        font-family: "Montserrat";
        font-weight: 700;
        color: white;
        cursor: pointer;
    }

}
.button__delete {
    display: flex;
    width: 10%;
    height: 3rem;
    // background-color: #3e59f4;
    opacity: 0.7;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    cursor: pointer;

    .delete {
        display: flex;
        width: 100%;
        height: 4rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        text-decoration: none;
        background-color: #f43e3e;
        border-radius: 1rem;
        border:none;
        font-family: "Montserrat";
        font-weight: 700;
        color: white;
        cursor: pointer;
    }

}

.signup__submit {
    display: flex;
    width: 10%;
    height: 4rem;
    background-color: #4CAF50;
    opacity: 0.7;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;

}

.error {
    display: flex;
    width: 20rem;
    height: 3rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.549);
    border-width: 0.2rem;
    border-style: groove;
    border-color: black;
    border-radius: 8rem;

    p {
        color: black;
        font-weight: 700;
    }
}

.menu__move {
    justify-content: flex-end;
    background-color: rgb(255, 0, 0);
    padding-right: 2rem;

}

.main__menu:hover {
    background-color: rgba(255, 0, 0, 0.275);
}