* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-image: url("../../../Assets/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header__global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 360px;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7);
}
.header__global section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__global section img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 20rem;
  height: 9.4rem;
}
.header__global nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 60px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid black 3px;
}
.header__global nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  list-style: none;
}
.header__global nav ul li {
  width: 25%;
  padding: 10px;
}
.header__global nav ul li a {
  text-decoration: none;
  color: black;
}
.header__global nav ul li:hover {
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: solid 0.2rem black;
  cursor: pointer;
}
.header__global nav ul li:hover a {
  color: white;
  cursor: pointer;
}

.main__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 700;
}
.main__login .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 3rem;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 0, 0, 0.549);
  border-width: 0.2rem;
  border-style: groove;
  border-color: black;
  border-radius: 8rem;
}
.main__login .error p {
  color: black;
  font-weight: 700;
}
.main__login section {
  width: 40rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 11rem;
  border-radius: 2rem;
}
.main__login section h1 {
  width: 20rem;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.main__login section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__login section form label {
  width: 100%;
}
.main__login section form label input {
  width: 85%;
  font-family: "Arial", sans-serif;
  outline: 0;
  background-color: rgba(253, 151, 99, 0.4);
  border: 0;
  border-radius: 1rem;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.4rem;
}
.main__login section form label span {
  font-size: 1.2rem;
}
.main__login section form .content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: none;
  height: auto;
  margin: 0;
}
.main__login section form .content__buttons .login__submit {
  width: 40%;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  opacity: 0.7;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 100;
}
.main__login section form .content__buttons .login__submit:hover {
  background-color: red;
  cursor: pointer;
}

.captcha {
  margin: 0 auto;
  margin-top: 1rem;
}