* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-image: url("../../../../../Assets/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header__propiedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 36rem;
  font-size: 0.8rem;
  font-family: "Montserrat";
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7);
}
.header__propiedades div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 60rem;
  height: 10rem;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__propiedades div .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__propiedades div .header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__propiedades div .header__logo a img {
  width: 108px;
  height: 51px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}
.header__propiedades div .header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border-top: 0.3rem solid red;
  border-bottom: solid black 0.3rem;
}

main {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat";
  background-image: url("../../../../../Assets/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main .main__menu--content {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
main .main__menu--content .main__menu {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  -webkit-transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
main .main__menu--content .main__menu i a img {
  width: 30px;
  height: 30px;
}
main .main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .main__content .main__nav {
  width: 40%;
  height: auto;
  margin: 0;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: -100;
  -webkit-transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
main .main__content .main__nav nav {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
main .main__content .main__nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
main .main__content .main__nav nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 6rem;
  padding: 10px;
  margin: 0.2rem;
}
main .main__content .main__nav nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1.65rem;
  text-decoration: none;
  color: black;
}
main .main__content .main__nav nav ul li:hover {
  background-color: rgba(253, 151, 99, 0.4);
  color: black;
  cursor: pointer;
}
main .main__content .main__nav nav ul li:hover a {
  color: black;
  cursor: pointer;
}
main .main__content .main__nav nav ul .nav__logout:hover {
  background-color: red;
  border: none;
}
main .main__content .main__table {
  width: 100%;
  position: absolute;
  z-index: 100;
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
main .main__content .main__table .table__config {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}
main .main__content .main__table .table__config .table__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
main .main__content .main__table .table__config .table__buttons .button__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6rem;
  height: 3rem;
  background-color: #4CAF50;
  opacity: 0.7;
  border-radius: 1rem;
  text-align: center;
}
main .main__content .main__table .table__config .table__buttons .button__new .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6rem;
  height: 3rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
main .main__content .main__table .table__config .search__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6rem;
  height: 3rem;
  background-color: #00ff33;
  border-radius: 10rem;
  text-align: center;
}
main .main__content .main__table .table__config .search__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6rem;
  height: 3rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
main .main__content .main__table .table__config .table__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main .main__content .main__table .table__config .table__search .search__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.5%;
  height: 2rem;
  background-color: #0400ff;
  border-radius: 10rem;
  text-align: center;
}
main .main__content .main__table .table__config .table__search .search__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.5%;
  height: 2rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.6rem;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  color: white;
}
main .main__content .main__table .table__config .table__search .search__title input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.6rem;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  background-color: #0400ff;
  border-radius: 10rem;
  border-style: none;
  color: white;
}
main .main__content .main__table .table__config .table__search .search__element {
  width: 9%;
  height: auto;
}
main .main__content .main__table .table__config .table__search .search__element input {
  width: 100%;
  height: 2rem;
  text-align: center;
  background-color: white;
  border-radius: 10rem;
  font-size: 0.5rem;
  font-family: "Montserrat";
  font-weight: 500;
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
  cursor: pointer;
}
main .main__content .main__table .table__config .table__search .search__element span {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.3rem;
  font-size: 0.3rem;
}
main .main__content .main__table .table__config .table__search .search__element select {
  width: 100%;
  height: 2rem;
  text-align: center;
  background-color: white;
  border-radius: 10rem;
  font-size: 0.5rem;
  font-family: "Montserrat";
  font-weight: 500;
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
  cursor: pointer;
}
main .main__content .main__table .table__config .table__search .search__element select option {
  font-size: 1rem;
}
main .main__content .main__table .table__config .table__title {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
}
main .main__content .main__table .table__config .table__title tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
main .main__content .main__table .table__config .table__title tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.5%;
  font-size: 0.6rem;
  font-family: "Montserrat";
  font-weight: 700;
  border: ridge 2px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
main .main__content .main__table .table__config .table__title tr {
  color: white;
}
main .main__content .main__table .table__content {
  width: 100%;
  margin: 0 auto;
  max-width: 100rem;
  position: relative;
  z-index: 200;
}
main .main__content .main__table .table__content table {
  width: 100%;
  margin: 0 auto;
}
main .main__content .main__table .table__content table tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  background-color: white;
}
main .main__content .main__table .table__content table tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.5%;
  font-size: 0.5rem;
  font-family: "Montserrat";
  font-weight: 700;
  border: 1px solid black;
}
main .main__content .main__table .table__content table tr td a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main__content .main__table .table__content table tr td a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
}
main .main__content .main__table .table__content table tr td input {
  width: 100px;
  height: 5px;
}
main .main__content .main__table .table__content table tr td .content__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
}
main .main__content .main__table .table__content table tr td .table__editar:hover {
  background-color: white;
}
main .main__content .main__table .table__content table tr td .input-borrar {
  width: 20px;
  height: 20px;
  color: transparent;
  border: 0px;
  background-color: transparent;
  background-image: url("../../../../../Assets/borrar.png");
  background-size: contain;
  background-repeat: no-repeat;
}
main .main__content .main__table .table__content table tr td .input-borrar:hover {
  width: 20px;
  height: 20px;
  color: transparent;
  border: 0px;
  background-color: transparent;
  background-image: url("../../../../../Assets/borrar-open.png");
  background-size: contain;
  background-repeat: no-repeat;
}
main .main__content .main__table .table__content table tr td .input-activar {
  width: 20px;
  height: 10px;
  color: transparent;
  border: 0px;
  background-color: transparent;
  background-image: url("../../../../../Assets/activo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
main .main__content .main__table .table__content table tr td .input-desactivar {
  width: 20px;
  height: 10px;
  color: transparent;
  border: 0px;
  background-color: transparent;
  background-image: url("../../../../../Assets/inactivo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.menu__move {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: red;
  padding-right: 2rem;
}

.main__menu:hover {
  background-color: rgba(255, 0, 0, 0.275);
}

.content__ver {
  border: none;
}
.content__ver .input-view {
  width: 20px;
  height: 20px;
  color: transparent;
  border: 0px;
  background-color: transparent;
  background-image: url("../../../../../Assets/ver.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.content__ver .input-view:hover {
  width: 22px;
  height: 22px;
  color: transparent;
  border: 0px;
  background-color: transparent;
  background-image: url("../../../../../Assets/view-open.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

footer {
  display: block;
  width: 100%;
  height: 30vh;
  margin-top: 230rem;
}