* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header__content {
  width: 100%;
  background-color: white;
}
.header__content .header__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 25rem;
  margin: 0 auto;
  border-bottom: 0.1rem solid black;
}
.header__content .header__up .header__up--logo {
  width: 50%;
}
.header__content .header__up .header__up--logo img {
  display: block;
  width: 15rem;
  margin: 0 auto;
}
.header__content .header__up .header__up--slogan {
  width: 0;
  height: 0;
  text-align: center;
}
.header__content .header__up .header__up--slogan p {
  font-family: "Montserrat";
  font-size: 0rem;
}
.header__content .header__up .header__up--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-family: "Montserrat";
}
.header__content .header__up .header__up--buttons .buttons__contacto a {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 7rem;
  text-decoration: none;
  padding: 1rem;
  background-color: #b38a4c;
  color: white;
  font-weight: 400;
  font-size: 1rem;
}
.header__content .header__up .header__up--buttons .buttons__contacto a:hover {
  background-color: #eaab4c;
}
.header__content .header__up .header__up--buttons .buttons__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
}
.header__content .header__up .header__up--buttons .buttons__login a {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 7rem;
  text-decoration: none;
  padding: 1rem;
  color: black;
  border: 0.2rem solid black;
  font-weight: 400;
}
.header__content .header__up .header__up--buttons .buttons__login a:hover {
  background-color: black;
  color: white;
}
.header__content .header__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  border-bottom: 0.6rem solid gray;
}
.header__content .header__down nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  height: 5rem;
  margin: 0 auto;
}
.header__content .header__down nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  width: 25%;
  height: 4rem;
  margin-top: 1rem;
  -webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header__content .header__down nav .menu .i {
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url("../../../../Assets/menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.header__content .header__down nav .menu:hover {
  background-color: #b38a4c;
  border-radius: 2rem;
}
.header__content .header__down nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 7.5%;
  width: 80%;
  height: 40rem;
  margin: 0 auto;
  background-color: #eee8d8;
  margin-top: 5rem;
  border-radius: 5rem;
  z-index: -300;
}
.header__content .header__down nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 100%;
  list-style: none;
  text-align: center;
}
.header__content .header__down nav ul li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1.3rem;
  color: black;
}
.header__content .header__down nav ul li:hover {
  background-color: #e1c371;
  border-radius: 5rem 5rem 5rem 5rem;
}
.header__content .header__down nav ul .nav__left:hover {
  background-color: #e1c371;
  border-radius: 0rem 0 5rem 5rem;
}
.header__content .header__down nav ul .nav__right:hover {
  background-color: #e1c371;
  border-radius: 5rem 5rem 0rem 0rem;
}

.menu__move {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: red;
  padding-right: 2rem;
}

.main__menu:hover {
  background-color: rgba(255, 0, 0, 0.275);
}

main {
  width: 100%;
  min-width: 36rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  background-color: white;
}
main .main__info {
  width: 60%;
  margin: 0 auto;
}
main .main__info h1 {
  font-family: "Montserrat";
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #c18934;
  margin-bottom: 2rem;
}
main .main__info p {
  font-family: "Montserrat";
  text-align: justify;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.2rem;
}
main .main__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
main .main__servicios .main__servicios--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  max-width: 42rem;
  min-width: 33rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
main .main__servicios .main__servicios--content img {
  width: 100%;
  max-width: 42rem;
  min-width: 25rem;
}
main .main__servicios .main__servicios--content .content__info {
  width: 100%;
}
main .main__servicios .main__servicios--content .content__info h2 {
  font-family: "Montserrat";
  text-align: center;
  font-size: 2.2rem;
  font-weight: 900;
  color: #c18934;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
main .main__servicios .main__servicios--content .content__info h3 {
  font-family: "Montserrat";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #c18934;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
main .main__servicios .main__servicios--content .content__info p {
  font-family: "Montserrat";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
main .main__beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}
main .main__beneficios img {
  width: 30%;
  max-width: 45rem;
  min-width: 36rem;
}

footer {
  width: 100%;
  height: 50vh;
  background-image: url("../../../../Assets/fondo-inicio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
footer section img {
  width: 30rem;
}